@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a; /* Slate 900 */
  
  /* Brand Colors */
  --primary: #6366F1; /* Electric Indigo */
  --accent: #10B981; /* Emerald Green */
  --warning: #F59E0B; /* Amber */
  --muted: #94a3b8; /* Slate 400 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-warning: var(--warning);
  --color-muted: var(--muted);
  
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0B0C15; /* Deep Indigo Black */
    --foreground: #f8fafc; /* Slate 50 */
    --muted: #64748b; /* Slate 500 */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
